body {
    background: black;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
}

img {
    border-radius: 50%;
  }

.profile-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    height: auto;
    max-width: 110px;
  }

.profile-name {
      text-align: center;
      padding: 30px;
  }

.links {
      text-align: center;
      margin-top: 20px;
      padding: 20px;
      border: 1px solid white;
      border-width: 2px;
      width: 290px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      border-radius: 40px;
  }

a {
    text-decoration: none;
    color: white;
    transition: color 1s; 
}

.bottom-text {
    text-align: center;
    margin-top: 40px;
    font-size: 20px;
    font-weight: bold;
}

.links:hover {
    color: #000;
    background: #fff;
}

.fa-instagram:hover {
  -ms-transform: scale(1.25); /* IE 9 */
  -webkit-transform: scale(1.25); /* Safari 3-8 */
  transform: scale(1.25);
}

.fa-facebook:hover {
   -ms-transform: scale(1.25); /* IE 9 */
  -webkit-transform: scale(1.25); /* Safari 3-8 */
  transform: scale(1.25);
}

.fa-github:hover {
   -ms-transform: scale(1.25); /* IE 9 */
  -webkit-transform: scale(1.25); /* Safari 3-8 */
  transform: scale(1.25);
}

.fa-spotify:hover {
   -ms-transform: scale(1.25); /* IE 9 */
  -webkit-transform: scale(1.25); /* Safari 3-8 */
  transform: scale(1.25);
}

footer{
	text-align: center;
}